footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:10px;
    background-color:#051416;
    text-align:center;
    color:white;
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
   }

   .main{
    height: 100vh;
    position: relative;
  }

/* header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #08f1d2;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  } */

.container {
    margin-top: 4em;
  }
  